* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  background-color: darkslategray;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#text-cabecalho {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#imagens {
  display: flex;
  width: 25%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

.linhas {
  display: flex;
  gap: 10px;
}

.div-tech {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey
}

#linha {
  margin-top: 10px;
  width: 160px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}